<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionIdPathParameterName</param-name>
        <param-value>none</param-value>
    </context-param>
    <context-param>
        <param-name>org.mortbay.jetty.servlet.SessionURL</param-name>
        <param-value>none</param-value>
    </context-param>
    <!--<context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>com.el.humen.web.rpc.DefaultExceptionMapper</param-value>
    </context-param>-->
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
<!--    <listener>-->
<!--        <listener-class>com.el.palletpacker.app.cl.CL</listener-class>-->
<!--    </listener>-->
    <welcome-file-list>
        <welcome-file>index.vsg</welcome-file>
    </welcome-file-list>
    
<!--    <context-param>-->
<!--        <param-name>resteasy.providers</param-name>-->
<!--        <param-value>com.el.humen.api.DefaultExceptionMapper</param-value>-->
<!--    </context-param>-->
</web-app>
